// COLORS 

$color-primary-dark-1:#ad2139;
$color-primary-dark-2:#bb6383;

$color-primary-mid:#c76982;

$color-primary-light-1:#e7a0ae;
$color-primary-light-2:#e69bc8;
$color-primary-light-3:#fff4fa9c;


$color-primary-text-1:#f8a2b0;



$white:white;
$black:black;

