.footer{
    padding: 10rem 0 5rem 0;
    background-color: $color-primary-dark-2;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include query(cp){
            flex-direction:column;
            align-items:center;
        
        }
    }

    &__left,&__right{
        flex: 1;

        @include query(cp){
            flex:0;
            text-align:center;
        }
    }

    &__left{
        @include query(cp){
            margin-bottom:5rem;
        }
    }

  
    &__logo{
        flex-basis: 35%;
        margin-bottom: 2rem;
        @include query(cp){
          text-align:center;
        }
    }

    &__img{
        width: 20rem;
        height: 10rem;

      
    }

    &__item{
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.5rem;
    }

    &__link{
        color:$color-primary-mid;
        transition: all 300ms ease;
        &:hover{
            color: white;
        }
    }

    .navigation__link{
        font-size: 1.5rem;
    }
}