.features{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    &--two{
        justify-content: space-around;
    }
}

.feature{

    width: 25rem;
    text-align: center;
    color: $color-primary-dark-1;
    background-color: rgba($white,0.8);
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 500ms ease;
    margin-right: 2rem;

    @include query(tabl){
        margin-bottom: 2rem;
    }

    & > *{
        margin-bottom: 2rem;
    }

    &:hover{
        transform: translateY(-2rem);
        box-shadow: 0.5rem 1rem 2rem rgba($black,0.4);
    }
}