.signup-container{
    width: 80%;
    margin: 0 auto;
    height: 35rem;
    background-image:linear-gradient(105deg,rgba($white,0.8) 0%,rgba($white,0.8) 50%,transparent 50%),url(/img/sakura-1.jpg);
    background-size: cover;
    padding:2rem 4rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 3rem rgba($black,0.4);

    @include query(cp){
        background-image:linear-gradient(105deg,rgba($white,0.4) 0%,rgba($white,0.4)),url(/img/sakura-1.jpg);
    }
}

.signup{
    width: 50%;

    @include query(cp){
        width:100%;
    }

    &__group{
        max-width: 40rem;
        padding: 1rem;
    }

    &__title{
        display:inline-block;
        text-align: center;
        position:relative;
        left:50%;
        transform:translateX(-50%);


    }

    &__input{
        width: 90%;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: 3px solid $color-primary-dark-1;

        @include query(cp){
            width:100%;
        }

        &:focus{
            outline:none;
            border-color: green;
        }

        &:focus:invalid{
            outline: none;
            border-color: pink;
        }

        &:invalid:focus{
            outline: none;
        }
    }


    &__label{
        display: block;
        font-size: 1.3rem;
        margin-left: 2rem;
        transform: translateY(0rem);
        opacity: 1;
        transition: all 300ms ease;

    }

    
    &__input:placeholder-shown + &__label{
        opacity: 0;
        transform: translateY(-2rem);
    }

    @include query(cp){
        button.btn{
            transform: translateX(-50%);
            position: relative;
            left: 50%;
        }
    }
    
}