.u-marbot-small{margin-bottom: 1rem;}
.u-marbot-medium{margin-bottom: 2rem;}
.u-marbot-big{margin-bottom: 4rem;}
.u-marbot-large{margin-bottom: 6rem;}

.u-martop-small{margin-top: 1rem;}
.u-martop-medium{margin-top: 2rem;}
.u-martop-big{margin-top: 4rem;}
.u-martop-large{margin-top: 6rem;}


.u-padbot-small{padding-bottom: 1rem;}
.u-padbot-medium{padding-bottom: 2rem;}
.u-padbot-big{padding-bottom: 4rem;}
.u-padbot-large{padding-bottom: 6rem;}

.u-pad-y-small{padding: 2rem 0;}
.u-pad-y-big{padding: 4rem 0;}
.u-pad-y-large{padding: 10rem 0;}

.u-centered{text-align: center;}


.container{
    width: 90%;
    margin:0 auto;
}


.bg-light{
    background-color: $color-primary-light-3;
}